<div class="sharing">
<table>
<tr><td>
  {% if site.twitter_tweet_button %}
  <a href="//twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="{{ site.twitter_user }}" data-count="{{site.twitter_bubble}}" data-counturl="{{ site.url }}{{ page.url }}" >Tweet</a>
  {% endif %}
</td><td>
  {% if site.google_plus_one %}
  <div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div>
  {% endif %}
</td><td>
  {% if site.linkedin_share %}
    <div class="linkedin-share" data-send="true" data-width="450" data-show-faces="false">
      <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: es_ES</script>
      <script type="IN/Share" data-url="{{site.url}}{{page.url}}" data-counter="{{site.linkedin_counter}}"></script>
    </div>
  {% endif %}
</td><td>
  {% if site.facebook_like %}
    <div class="fb-like" data-layout="{{site.facebook_button_layout}}" data-action="like" data-show-faces="true" data-share="true"></div>
  {% endif %}

</td></tr>
</table>
</div>
<div style="height: 10px;"> </div>