// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@import url('http://fonts.googleapis.com/css?family=Inconsolata|Oswald|Lato');

/**
  * Dates
  */
div.date {
  display: block;
  position: relative;
  width: 60px;
  border: 1px solid #888885;
  border-radius: 5px;
  float: left;

  /* day */
  text-align: center;
  letter-spacing: 2px; text-decoration: none; color: #666;
  background: #fcfcfc;
  margin-right: 10px;
}

div.date sup {
  position: absolute;
  padding-top: 4px;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: normal;
}

/* year + month */
div.date abbr {
  display: block; font: 10px Verdana, sans-serif; letter-spacing: normal; color: white;
  border-radius: 4px 4px 0px 0px;
}


div.date abbr { border: 0; }

/* month */
div.date>:first-child {
  width: 50px;
  /* margin: -1px 0 0 -1px; */
  padding: 0 5px;
  /*border: 1px solid #832a28;*/
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  background-color: #a33537;
}

/* year */
div.date sup+abbr {
  position: absolute;
  top: 0; left: 0;
  width: 50px;
  padding: 0 3px;
  /*border: 1px solid #a33537;
  border-bottom: 1px solid #832a28;*/
  line-height: 14px;
  color: #eaa;
  text-align: right;
}

/* time */
div.date sub {
  display: block;
  height: 17px;
  border-top: 1px solid #bbd;
  margin: -5px 3px;
  font: 9px/16px Verdana, sans-serif;
  letter-spacing: normal;
  text-align: center;
  color: #aac;
  padding-bottom: 10px;
}

div#content .blog-index article h1,
article header h1.entry-title{
	font-family: 'Oswald', sans-serif;
	font-size: 26px;
}

article header h1.entry-title a{
    white-space: nowrap;

}

article .entry-content {
	font-family: 'Lato', sans-serif;
	text-align: justify;
}

div.sharing img{
  width: 30px;
  box-shadow: none;
  border: none;
}

div.sharing a {
  white-space: initial;
  text-decoration: none;
}

div.sharing td{
  padding-right: 10px;
  vertical-align: top;
}

article a.comments{
  font-family: 'Oswald', sans-serif;
}

article a,
article a.comments,
footer category:visited,
article a.comments:visited{
  text-decoration: none;
}

footer a,
footer a:visited{
    text-decoration: none;
}

.highlight {
  border-radius: 5px;
}